@media only screen and (min-width: 1000px) {
  span {
    p {
      text-decoration: none;
    }
  }

  .logo img {
    height: 270px;
  }

  .navigation {
    word-spacing: 70px;
    margin-right: 40px;
    a {
      font-size: 50px;
    }
  }

  .weekly_promo {
    width: 400px;
  }

  .reviews {
    width: 400px;
  }


  .youtube {
    .youtube_video {
        iframe {
            height: 550px;
            width: 900px;
        }
    }
}

  .pamenu_tablet {
    padding-left: 0;
    margin-left: 0;
  }

  .menu_grid {
    align-items: center;
    max-width: 850px;
  }

  .location_grid {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-areas:
      "address googlemap"
      "hours_grid googlemap"
      "eximage eximage";
  }

  .address {
    width: 400px;
    h3 {
      font-size: 40px;
    }
  }

  .googlemap {
    display: block;
    iframe {
      height: 480px;
      width: 550px;
    }
  }

  .exterior_img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    img {
      width: 970px;
    }
  }
}
