@media only screen and (min-width: 600px) {
    header {
        height: 200px;
    }
    
    .banner {
        height: 270px;
        margin-bottom: 0;
    }

    .logo img {
        height: 250px;
    }

    .container {
        margin-top: 0;
        margin-bottom: 0;
    }
    .navigation {
        position: absolute;
        top: 125px;
        right: 30px;
        word-spacing: 40px;
        a {
         font-size: 35px;
         font-family: 'Raleway', sans-serif;
         color: $fourthcolor;
         text-decoration: none;
            }
        }

    .phonebanner > a {
        top: 340px;
        font-size: 4rem;
        right: 40px;
        pointer-events: none;
    }


    .maininfo {
        display: grid;
        grid-template-columns: 3, 1fr;
        grid-template-areas: 'takeout dinein delivery';
        grid-gap: 1rem;
        padding-top: 0;
        margin-left: 10px;
        margin-right: 10px
    
    
    }

    .takeoutpic {
        grid-area: takeout;
       
    }
    .deliverypic {
        grid-area: delivery;
        
    }
    .dineinpic {
        grid-area: dinein;
       
    }

    .center_grid {
        display: grid;
        grid-template-columns: 2, 1fr;
        grid-template-areas: 'promo reviews';
        
    }

    .weekly_promo {
        grid-area: promo;
        width: 40vw;
       
        margin: 3.33333vw;
        margin-right: 0;
    }
    .reviews {
        grid-area: reviews;
        width: 40vw;

        margin: 3.33vw;
    }
    
    .about_us {

        h3 {
            font-size: 30px;
        }
        img {
            height: 30vh;
        }
    }

    .youtube {
       h3 {
           font-size: 30px;
       }
        iframe {
          height: 315px;
          width: 560px;
          align-self: center;
        }
      }


    .menu_grid {
        display: grid;
        grid-template-columns: 4, 1fr;
        grid-template-areas: 
        'zamenu_tablet zamenu_tablet zamenu_tablet menu_photo_a'
        'pamenu_tablet pamenu_tablet simenu_tablet simenu_tablet'
        'kimenu_tablet kimenu_tablet menu_photo_b menu_photo_b';
        grid-gap: 1rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .pizza_menu {
        grid-area: zamenu_tablet;
        height: 340px;
    }
    .menu_photo_a {
        display: block;
        grid-area: menu_photo_a;
        img {
            height: 400px;
        }
    }
    .pasta_menu {
        grid-area: pamenu_tablet;
    }
    .sides_menu {
        grid-area: simenu_tablet;
    }
    .kids_menu {
        grid-area: kimenu_tablet;
    }
    .menu_photo_b {
        display: block;
        grid-area: menu_photo_b;
        img {
            height: 210px;
            margin-right: 0;
        }
    }

}

