* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: red;
  }
  
  header {
    background-color: black;
    height: 24vh;
  }
  
  header img {
    height: 20vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    float: left;
  }
  
  .right_header div button {
    height: 10vh;
    width: 20vw;
    padding-top: 3vh;
  }
  
  .banner {
    background-image: url(../media/tomato-pepper.png);
    background-size: cover;
    min-height: 32vh;
    background-position: top center;
    margin-bottom: 2rem;
  
  }
  
  a {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: grey 2px 2px 2px;
    position: absolute;
    right: 10px;
    top: 45vh;
  }
  
  .container {
    max-width: 80vw;
    margin: 10vw;
  }
  
  .container {
    background-color: black;
    min-height: 100px;
  }
  
  

  .delivery {
    background-color: $secondcolor;
    margin: 1rem;
    height: 200px;
    width: 40vw;
  }
  
  .promo_header > div {
    align-self: center;
    max-width: fit-content;
  }
  
  .weekly_promo > .container div > p {
    color: white;
  }
  
  .weekly_promo > .container div > h3 {
    color: white;
    text-shadow: red 2px 2px 2px;
  }
  
  .promo_body {
    display: grid;
    grid-template-columns: 1fr 1fr;
     grid-template-areas: 
     'day deal';
     grid-gap: 32vw;
     padding: 1rem;
  
  }
  
  .day_of_week {
    grid-area: day;
  }
  
  .daily_deal {
    grid-area: deal;
  }
