$primarycolor: black;
$thirdcolor: rgba(215, 4, 4, .9);
$secondcolor: rgba(181, 181, 181, .5);
$fourthcolor: white;

* {
    margin: 0;
    padding: 0;
  }
  
 

  body {
    background-color: $fourthcolor;
  }
  
  header {
    background-color: $primarycolor;
    height: 90px;
  }

    .logo img {
      height: 100px;
    padding-top: 1rem;
      padding: .5rem;
    float: left;
  }
  

  .navigation {
    position: absolute;
    top: 50px;
    right: 15px;
    word-spacing: 20px;
    a {
     font-size: 20px;
     font-family: 'Raleway', sans-serif;
     color: $fourthcolor;
     text-decoration: none;
        }
    }
  
//   #ham {
//       background-color: $secondcolor;
//       color: $primarycolor;
     
//   }

  
  .banner {
    background-image: url(../media/pastabanner.jpg);
    background-size: cover;
    height: 135px;
    background-position: top center;
    margin-bottom: 1rem;

  
  }

.phonebanner > a {
    color: $primarycolor;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: $thirdcolor 3px 3px 2px;
    position: absolute;
    right: 10px;
    top: 150px;
  }

  .container {
    width: 90vw;
    margin: 4vw;
    min-height: 100px;
    z-index: 1;
    padding: 2vw;
    
  }

  
    
//    img {
//       width: 50vw;
//       align-self: center;
//       height: auto;
//     }
//   }
  

.maininfo > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 200px;
  border-color: $thirdcolor;
  border-style: solid;
  border-width: 2px;
  padding: 1rem;
 
  p {
    color: $fourthcolor;
    text-shadow: $thirdcolor 3px 1px 1.5px;
  }

  h2 {
    color: $fourthcolor;
    text-shadow: $thirdcolor 2px 2px 2px;
  }
}

.takeoutpic {
  background-image: url(../media/takeoutpic.jpg);
  background-size: cover;

}

.dineinpic {
    background-image: url(../media/dineinfinal.jpg);
    background-size: cover;
}

.deliverypic {
  background-image: url(../media/deluxedelivery.jpg);
  background-size: cover;
}

.weekly_promo {
  border: $thirdcolor solid 5px;
  background-color: $fourthcolor;
  padding: 1rem;
  margin-bottom: 1rem;
}
.promo_header {
  text-align: center; 
  
}

.speciala {
  padding: 1em;
  img {
  height: 100px;
  width: 100px;
  float: left;
  margin: 1em;
 }
 h4 {
  padding-bottom: 10px;
}
}

.specialb {
  padding: 1em;
  padding-top: 0;
  h4 {
    padding-bottom: 10px;
    float: left;
  }
  img {
    height: 100px;
    width: 120px;
    float: right;
   }
  }

.specialc {
  padding-top: 2em;
  padding: 1em;
  img {
    height: 80px;
   margin: 10px;
    float: left;
   }
   h4 {
    padding-bottom: 10px;
  }
  }
  

  .reviews {
    border: $thirdcolor solid 5px;
    background-color: $fourthcolor;
    padding: 1rem;
  }
  
  .reviews_header {
    text-align: center; 
    
  }
  
  .checked {
    color: goldenrod;
  }
  .reviewa {
    padding: 1em;
  
   h4 {
    padding-bottom: 10px;
  }
  }
  
  .reviewb {
    padding: 1em;
    padding-top: 0;
    h4 {
      padding-bottom: 10px;
      float: left;
    
    } 
  }
  
  
    .about_us {
    h3 {
      text-align: left;
      margin-left: 2em;
    }
    img {
      float: right;
      height: 16vh;
      margin: .5em;
      margin-right: 0;
    }
    p {
      color: $thirdcolor;
      z-index: 3;
      margin: 1em;
    }
  }
.youtube {
  iframe {
   margin-top: .5rem;
   margin-bottom: .5rem;
    width: 275px;
  }
}

  .footer {
    background-color: $primarycolor;
    height: 40px;
    padding: 10px;
    padding-top: 15px;
  }
  

  .copyright {
   
  
    p {
      font-size: 1em;
      color: $fourthcolor;
   }
  
}

.pizza_menu {
  grid-area: pizzamenu;
  border: $thirdcolor 3px solid;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr ;
  grid-template-areas: 'pizza sm med lg';
  grid-gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  div {
    p { 
      margin-bottom: 1rem;
    }
    h3 {margin-bottom: 1rem;}
  }
}

.pizza_type {
  grid-area: pizza;

}

.s_price {
  grid-area: sm;
}
.m_price {
  grid-area: med;
}
.l_price {
  grid-area: lg;
}
 

.pasta_menu {
  border: $thirdcolor 3px solid;
  grid-area: pastamenu;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'pasta_type pasta_price';
  padding: 1rem;
  margin-bottom: 1rem;

  div {
    p { 
      margin-bottom: 1rem;
    }
    h3 {margin-bottom: 1rem;}
  }
  }

.pasta_type {
  grid-area: pasta_type;
 
}

.pasta_price {
  grid-area: pasta_price;
}

.sides_menu {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'sides_type sides_price';
  grid-gap: 1rem;
  padding: 1rem;
  border: $thirdcolor 3px solid;
  margin-bottom: 1rem;
  div {
    p { 
      margin-bottom: 1rem;
    }
    h3 {margin-bottom: 1rem;}
  }
  }

.menu_photo_a {
  display: none;
}
.sides_dishes {
  grid-area: sides_type;
  width: 60vw;
}

.side_price {
  grid-area: sides_price;
}

.kids_menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'l_kids_menu r_kids_menu';
  grid-gap: 1rem;
  padding: 1rem;
  border: $thirdcolor 3px solid;
  div {
    p { 
      margin-bottom: 1rem;
    }
    h3 {margin-bottom: 1rem;}
  }
  }
  .l_kids_menu {
    grid-area: l_kids_menu;
  }
  .r_kids_menu {
    grid-area: r_kids_menu;
  }
 
   
  
  
   .menu_description {
     display: none;
     background-color: $thirdcolor;
     padding: 1rem;
     margin-left: 90px;
     margin-top: -20px;
     position: absolute;
     width: 40vw;
     img {
       width: 30vw;
     }
     p {
       color: $fourthcolor;
       margin: 0;
       font-size: 12px;
     }
   }
   span:hover + .menu_description {
     display: block;
   }

   span {
     p {
       text-decoration: underline;
     }
   }
 

p {
    color: $thirdcolor;
    font-family: 'Raleway', sans-serif;
}

h3 {
    color: $thirdcolor;
    text-shadow: $secondcolor;
    font-family: 'Montserrat', sans-serif;
}

h2 { 
    color: $thirdcolor;
    text-shadow: $secondcolor;
    font-family: 'Montserrat', sans-serif;
}

h1 {
  color: $thirdcolor;
  text-shadow: $secondcolor;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color: $thirdcolor;
  text-shadow: $secondcolor;
  font-family: 'Montserrat', sans-serif;
}

@import '_tablet.scss';
@import '_desktop.scss';