body {
    background-color: rgb(235, 205, 123);
    text-align: center;

  }

  .header {
    padding: 20px;
    text-align: center;
    background-color: tomato;
  }
  
  .header span {
    text-align: right;
    font-size: 15px;
  }

  .phone { 
    font-size: 20px;
    height: 200px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    display: inline-block;
  }

  .phone:hover {
    font-size: 30px;
  }
  
  .maininfo {
    height: 65vh;
    width: 25%;
    min-width: 200px;
    display: inline-block;
    background-color: tomato; 
    margin-left: 10px;
    margin-right: 10px;

  }

  @keyframes maininfoanimation {
   0% {background-color: tomato;}
   50% {background-color: darkgreen;}
   100% {background-color: tomato;}
  }

  .maininfo:hover {
    animation-name: maininfoanimation;
    animation-duration: 8s;
    animation-timing-function: ease-out;
  }
  
  .maininfo img {
    width: 200px;
    height: 175px;

  }
  .horizontalpizza img {
    width: 100%;
  } 
  
  .mainphotos img { 
    height: auto;
    width: 40%;
    opacity: 0.60;
    padding-top: 2cm;
    align-items: center;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
  }

  .mainphotos img:hover {
    opacity: 1;
  }

  div>h2 {
    color: black;
    text-decoration: underline;
    text-decoration-style: wavy;
  }

  article p {
    font-size: large;
    color: indigo;
  }
  
  p+a {
    font-style: italic;

  }
 
  .about {
    column-count: 3; 
    align-items: auto; 
    height: auto;
    column-fill: auto;
    column-gap: 30px;
  }  
  
  .aboutusp {
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  .video {
    padding-top: 2cm;
  }

  a:link {
    color: darkgreen;
  }

  a:visited {
    color: darkslategray;
  }

  a:hover {
    background-color: dodgerblue;
  }

  a:active {
    background-color: tomato;

  }